:root{
  --navbar:black;
  --sectionA:white;
  --sectionB:white;
}

.App {

  display: grid;


  -webkit-grid-template-columns:[one]50%[two]50%[end];
  -webkit-grid-template-rows:[one]4em[two]auto[end];

  grid-template-columns:[one]50%[two]50%[end];
  grid-template-rows:[one]4em[two]auto[end];

  -moz-grid-template-columns:[one]50%[two]50%[end];
  -moz-grid-template-rows:[one]4em[two]auto[end];


  grid-template-areas:
    "header header"
    "intro test"
  ;

  justify-items:stretch;
 
}

.grid-item-header{
  grid-area:header;
  text-align:end;

  background-color:var(--navbar)
}
  .grid-item-header p{
    color:white;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:1%;
    margin-right:2%;
  }

  .grid-item-header a{
    color:white;
    text-decoration: underline;
  }

.introText{
  /* display: inline; */
  margin:5% 5% 5% 5%;
}

.accordion{
  border:unset;

  margin:4%;

  background-color:var(--sectionA)
}

#italic-text{
  font-style:italic;
}

.accordion_submit{
  border:unset;

  background-color:var(--sectionB)
}

Table{
  text-align: center;
}

.accToggle{
  text-align: center;
}

.card{
  border:unset;
  
  background-color:var(--sectionA)
}

.cardBody{
  border:unset;

  padding:5% 5% 5% 5%;

  background-color:var(--sectionA);
}

.accordion_submit , .accToggle, .cardBody_2 {
  
  background-color:var(--sectionB);
}

  .accordion_submit:hover{
    color:grey;
  }

.grid-item-intro{
  grid-area:intro;

  background-color:var(--sectionA);

}

.grid-item-test{
  grid-area:test;
  /* text-align: start; */

  align-self: stretch;

  background-color: var(--sectionB);
  
  height:800px;

  overflow:auto;

}

Form{

  margin-top:5%;

  color: black;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  margin-left:5%;
  margin-right:5%;

}

label{
  color: black;
  opacity: 0.8;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  margin:10px;
}

.form-control{
  position:relative;
  min-width:5%;  
  max-width:20%;
  display:inline;
  margin-left:auto;
  margin-right:auto;
}

.questionTitle{
  position:relative;
}

.App-link {
  color: #09d3ac;
}

option{
  color:var(--sectionB);
}

.btn{
  color:black;
  opacity: 0.8;
  /* border-width: 2px;
  border-color: black; */
  background-color:var(--sectionB);
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.btn-project-details{
  color:black;
  opacity: 0.8;
  margin-left: 5%;
  background-color:var(--sectionB);
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

img{
  display: inline;

  margin:5% 5% 5% 5%;
}

